* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #121212;
}


h2 {
    color: whitesmoke !important;
}

ul {
    list-style: none;
}

.imgwrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: whitesmoke;
}

.coinlist-image {
    width: 35px;
  }
  
.coinlist-item {
    display: flex;
}
  
.coinsummary {
    background-color: #1D1D1D !important;
    border-color: whitesmoke !important;
    border-style: solid !important;
}

.coinlist-item {
    background-color: whitesmoke !important;
    color: black !important;
}
  
.coin-data-category {
    font-size: 10px;
}
  
.delete-icon {
    display: none;
    position: absolute;
    right: 10px;
}
  
.coin:hover .delete-icon {
    display: block;
}


.btn {
    color: whitesmoke;
    background-color: #1D1D1D;
    border-color: whitesmoke;
}

.btn:hover {
    background-color: whitesmoke;
    color: black;
}

.btn:active {
    background-color: whitesmoke;
    color: black;
}

.btn:focus {
    background-color: whitesmoke;
    color: black;
}

.gbtn {
    max-width: 50px;
}

.sbtn {
    max-width: 120px;
}

.coin-data-category {
    font-size: 12px;
}

.loading {
    color: whitesmoke;
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 600px;
    }   
}

@media screen and (max-width: 440px) {
    .delete-icon {
        right: 5px;
    }  
}